<ion-header>
  <ion-toolbar color="primary">
    <ion-title>RegistrAPP</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Inicia sesion</ion-card-title>
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioLogin">
        <ion-item>
          <ion-label position="floating">Nombre usuario</ion-label>
          <ion-input formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
      <ion-button expand="full" [routerLink]="['/restore']">Restablecer Contraseña</ion-button>
  </ion-toolbar>
</ion-footer>

